
<h1>Welcome to PEOPLE!</h1>
<p> An App that allows you to store records of people. </p>

<br>
<p class="start_button">
<span>
<%= link_to 'Start by adding a new person!', new_person_path %>
</span>
</p>
