<p class="button"><span><%= link_to 'Add A New Person', new_person_path %></span></p>

<h2> List of People: </h2>

<ol>
<% @people.each do |person| %>
<li>
<h3><%= person.full_name %></h3>
<p class="show_button"><%= link_to 'Show Record', person_path(person)%>
</p>

<% end %>